main .conteudo-main .form-container {
    display: flex;
    padding-bottom: 15px;
}

main .conteudo-main .form-container .formulario {
    width: 70%;
    margin: 0 10px;
    padding: 10px 0;
    border: 1px solid #9d9c9c;
    border-radius: 7px;
}

.form-container .formulario h2 {
    text-align: center;
}

.form-container .formulario form {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.form-container .formulario form input {
    outline: none;
    height: 15px;
    border-radius: 7px;
    border: 1px solid #666;
    padding: 7px;
    margin-top: 3px;
}

.form-container .formulario form textarea {
    outline: none;
    border-radius: 7px;
    border: 1px solid #666;
    padding: 7px;
    margin-top: 3px;
    resize: vertical;
    min-height: 50px;
}

.form-container .formulario form button {
    outline: none;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #666;
    padding: 7px;
    margin-top: 3px;
    cursor: pointer;
    background-color: #2eff2e;
    color: #252525;
    text-transform: uppercase;
}

.form-container .formulario form button:hover {
    background-color: #5cff5c;
}

.form-container .formulario form .input-box {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-container .menu-lateral input {
    outline: none;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #666;
    padding: 7px;
}

.form-container .menu-lateral nav {
    margin-top: 30px;
}

@media (max-width: 700px) {
    .form-container .menu-lateral nav {
        margin: 0 20px;
    }

    .form-container .menu-lateral nav h3 {
        cursor: pointer;
    }

    main .conteudo-main .form-container {
        flex-direction: column-reverse;
    }

    .conteudo-main .form-container .menu-lateral {
        display: flex;
        align-items: center;
        width: auto;
        margin: 10px;
    }

    .conteudo-main .form-container .formulario {
        width: auto !important;
    }
}
